<div
  class="course-item"
  gdAreas="title meta-data| description modify-course"
  gdGap="0.5rem"
>
    <h2 gdArea="title">
      {{ headerTitle }}
    </h2>
    <div
      gdArea="meta-data"
      fxLayout="row"
      fxLayoutGap="0.5rem"
    >
      <app-meta-data
        [icon]="icons.vs_clock"
        [message]="courseDuration"
      ></app-meta-data>
      <app-meta-data
        [icon]="icons.vs_calendar"
        [message]="publication"
      ></app-meta-data>
    </div>
    <p gdArea="description">
      {{ description }}
    </p>
    <div
      gdArea="modify-course"
      fxLayoutAlign="center start"
      fxLayoutGap="1rem"
    >
      <button
        mat-raised-button
        color="primary"
        (click)="editCourse.emit()"
      >Edit</button>
      <button
        mat-raised-button
        color="warn"
        (click)="deleteCourse.emit()"
      >Delete</button>
    </div>
</div>
