<ng-container *ngIf="courses.length; else notExist">
  <div *ngFor="let course of courses | orderBy">
    <app-course-item
      [headerTitle]="course.courseTitle"
      [description]="course.courserDescription"
      [courseDuration]="course.courseDuration"
      [publication]="course.publication"
      [isTopRated]="course?.isCourseTopRated"
      (editCourse)="editCourse(course.courseId)"
      (deleteCourse)="deleteCourse(course.courseId)"
    ></app-course-item>
  </div>
</ng-container>
<ng-template #notExist>
  <div
    fxLayout="row"
    fxLayoutAlign="center center"
    class="empty-list"
  >
    <p class="empty-list__message">{{'no data. feel free to add new course' | uppercase}}</p>
  </div>
</ng-template>
