<div
  class="header"
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <div fxLayout="row" fxLayoutAlign="none center">
    <mat-icon color="primary">play_circle_outline</mat-icon>
    <h1 class="header--title">Video course</h1>
  </div>
  <div
    *ngIf="(isAuthenticated$ | async) && (user$ | async) as user"
    fxLayout="row"
    fxLayoutGap="1rem"
  >
    <a
      class="header-link"
      #link
      (click)="$event.stopPropagation()"
    >
      <app-meta-data
        [icon]="icons.vs_login"
        [isWhite]="true"
        [message]="user.name.first"
      ></app-meta-data>
    </a>
    <a
      class="header-link"
      href="#"
      (click)="logout()"
    >
      <app-meta-data
        [icon]="icons.vs_logout"
        [message]="'Log out'"
        [isWhite]="true"
      ></app-meta-data>
    </a>
  </div>

</div>
