.material-icons {
  font-size: 36px;
}

.mat-icon {
  height: 36px;
  width: 36px;
}

.header {
  height: 60px;

  padding: 0 85px;
  background-color: black;
}

.header--title {
  display: inline-block;

  margin: 0;
  padding-left: 8px;

  color: white;
  text-transform: capitalize;
}

.header-link {
  text-decoration: none;
}
