<app-header></app-header>
<div
  fxLayoutAlign="center center"
  class="login-wrapper"
>
  <mat-card>
    <mat-card-title [translate]="'common.header.login'"></mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" novalidate (ngSubmit)="submit()">
        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="{{ 'common.header.username' | translate }}" formControlName="username"/>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input type="password" matInput placeholder="{{ 'common.header.password' | translate }}" formControlName="password"/>
          </mat-form-field>
        </p>

        <div
          class="button"
          fxLayoutAlign="space-between center"
        >
          <a href="#" [translate]="'common.header.forgot-password'"></a>
          <button type="submit" mat-raised-button color="accent">{{ 'common.header.login' | translate }}</button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>
