.login-wrapper {
  padding-top: 20vh;
}

.mat-card {
  max-width: 400px;

  border: solid 2px lightcyan;
  border-radius: 4px;
  background-color: lightgray;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}
