<app-header></app-header>
<div
  fxLayoutAlign="center center"
  class="login-wrapper"
>
  <mat-card>
    <mat-card-title>{{ 'common.header.login' | translate }}</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" novalidate (ngSubmit)="submit()">
        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="{{ 'common.header.username' | translate }}" formControlName="username"/>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input type="password" matInput placeholder="{{ 'common.header.password' | translate }}" formControlName="password"/>
          </mat-form-field>
        </p>

        <div
          class="button"
          fxLayoutAlign="space-between center"
        >
          <a href="#">{{ 'common.header.forgot-password' | translate }}</a>
          <button type="submit" mat-raised-button color="accent" >{{ 'common.header.login' | translate }}</button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>
