.breadcrumb {
  height: 64px;
  padding: 0 85px;

  font-weight: bold;

  background-color: white;
}

.breadcrumb-item {
  text-decoration: none;
}

.breadcrumb-item:before {
  content: '\00a0 ';
}

.breadcrumb-item:after {
  content: '\00a0 ';
}

