<div
  *ngIf="isLoading"
  fxFlex="0 0 100%"
  fxLayoutAlign="center center"
>
  <mat-spinner></mat-spinner>
</div>

<div
  *ngIf="!isLoading"
  class="course-page"
>
  <div
    class="search"
    fxLayoutGap="0.5rem"
  >
    <input
      [formControl]="searchInput"
      class="search__input"
      type="text"
      placeholder="Type to search"
    >
  </div>
  <div fxLayoutAlign="end center">
    <a [routerLink]="'new-course'" mat-raised-button color="primary">
      {{ 'common.course.add-course' | translate }}
    </a>
  </div>
  <app-course-list
    [courses]="courses$ | async"
    (deleteCourse)="openDeleteCourseDialog($event)"
  ></app-course-list>
  <div
    *ngIf="(courses$ | async)?.length"
    class="load-more"
    fxLayoutAlign="center center"
  >
    <button
      mat-button
      class="load-more__button"
      (click)="loadMoreCourses()"
    >
      {{ 'common.course.load-course' | translate }}
    </button>
  </div>
</div>
<ng-template class="dialog" #modalDialog>
  <p>{{ 'common.course.delete-course' | translate }}</p>
  <div fxLayoutGap="1rem">
    <button mat-raised-button color="primary" mat-dialog-close="courseWillBeDeleted">Yes</button>
    <button mat-raised-button color="warn" mat-dialog-close>No</button>
  </div>
</ng-template>
<app-footer></app-footer>

