.course-page {
  padding: 0 85px;
}

.load-more {
  height: 36px;

  background-color: white;
}

.load-more__button {
  color: deepskyblue;
}

.search {
  padding: 21px 0;
}

.search__input {
  height: 33px;
  width: 340px;
  padding-left: 3px;

  border-radius: 4px;
  border: 1px solid gray;
}
